affine==2.3.1
attrs==22.1.0
certifi==2022.9.24
cfractions==2.1.0
charset-normalizer==2.1.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
contextily==1.2.0
contourpy==1.0.5
cycler==0.11.0
decision==0.3.1
dendroid==1.4.0
Fiona==1.8.21
fonttools==4.37.3
geographiclib==1.52
geopandas==0.11.1
geopy==2.2.0
ground==8.2.0
idna==3.4
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.6.0
mercantile==1.2.1
munch==2.5.0
numpy==1.23.3
packaging==21.3
pandas==1.5.0
Pillow==9.2.0
prioq==0.5.0
pyparsing==3.0.9
pyproj==3.4.0
python-dateutil==2.8.2
pytz==2022.2.1
rasterio==1.3.2
reprit==0.8.0
requests==2.28.1
sect==6.1.0
Shapely==1.8.4
shewchuk==6.3.0
six==1.16.0
snuggs==1.4.7
symba==1.2.1
typing_extensions==4.3.0
urllib3==1.26.12
xyzservices==2022.9.0
